/ * ===== パリ雑誌風 ===== * /
body{
      font-family: "Helvetica Neue" , Arial ,sana-serif;
      background-color: #ffffff;
      color: #111;
      line-height: 1.9;
      marign: 0;
      padding-left: 15%;
      padding-right: 5%;
}

/* Header */

h1 {
      font-size: 60px;
      font-weight: 200;
      letter-spacing: 6px;
      text-align: center;
      margin-top: 100px;
}
h2 {
      font-size: 18px;
      font-weight: 400px;
      lettre-spacing: 3px;
      margin-bottom: 80px;
      text-align: center;
}

/* Section spacing */

.section {
      margin-top: 180px;  
}

/* Card layout */
.card {
      max-widht: 900px;
      margin: 0 0 140px 0;
}

/* Imagn */

.card img {
      weight: 100%;
      max-widht: 900px;
      display: block;
      margin: 60px auto;
}

/* Text */
.card h3 {
      font-size: 14px;
      lattr-spacing:2px;
      font-weight: 500;
}

.card p {
      font-size: 13px;
      max-width: 500px;
      margin-top: 10px;
      color: #555;
}

/* 3列グリット */
.mind-grid {
      display: grid;
      grid-templeat-colimns: repeat(3, 1fr);
      gap: 60px;
}

/* ４枚目と5枚目を中央寄せに */
.mind-grid .card:nth-child(4){
      grid-column: 1 / 2;
} 

.mind-grid .card:nth-child(5){
      grid-column: 2 / 3;
}
