body {
      margin: 0;
      font-family: "Helvetica Name", Arial, sans-serif;
      background-color: #F0F5F8; /* frost */
      color: #111;
    }

    .container {
      width: 85%;
      margin: 100px auto;
    }

    h1 {
      font-size: 48px;
      font-weight: 300;
      letter-spacing: 2px;
    }

    .accent {
      color: #BF2529; /* red lips */
    }

    .section {
      margin-top: 120px;
    }

    .card {
      border-top: 1px solid #D0A5A8; /* rose bud */
      padding-tpp: 20px;
      margin-top: 40px;
    } 
 
