/ * ===== パリ雑誌風 ===== * /
body{
      font-family: "Helvetica Neue" , Arial ,sana-serif;
      background-color: #ffffff;
      color: #111;
      line-height: 1.9;
      marign: 0;
      padding: 0;
}

/* Header */

h1 {
      font-size: 60px;
      font-weight: 200;
      letter-spacing: 6px;
      text-align: center;
      margin-top: 100px;
}
h2 {
      font-size: 18px;
      font-weight: 400px;
      lettre-spacing: 3px;
      margin-bottom: 80px;
      text-align: center;
}

/* Section spacing */

.section {
      margin-top: 180px;  
}

/* Card layout */
.card {
      max-widht: 900px;
      margin: 0 auto 140px auto;
      text-align: left;
}

/* Imagn */

.card img {
      weight: 100%;
      max-widht: 900px;
      display: block;
      margin: 60px auto;
}

/* Text */
.card h3 {
      font-size: 14px;
      lattr-spacing:2px;
      font-weight: 500;
}

.card p {
      font-size: 13px;
      max-width: 500px;
      margin-top: 10px;
      color: #555;
}
